<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="footer"
     class="layui-trans layadmin-user-login-footer">

    <p>© 2018 <a href="http://dai-gou.me/" target="_blank">dai-gou.me</a></p>
    <p>
        <span><a href="http://dai-gou.me/admin/#get" target="_blank">等待开发</a></span>
        <span><a href="http://dai-gou.me/admin/pro/" target="_blank">等待开发</a></span>
        <span><a href="http://dai-gou.me/admin/" target="_blank">等待开发</a></span>
    </p>
</div>