<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/platform/layout}">
<head>
    <title>代购网 - 商家版</title>
    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/admin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/app.css}" media="all">

    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
    <script th:src="@{/admin/layui/layui.js}"></script>
</head>
<body layout:fragment="body">

</body>
</html>